<%- include("./partials/header.ejs") -%> 
<img src="/images/projectHeaders/<%=data.imageName%>" alt="Project Header Image">
<h1><%=data.title%></h1>
<p><%=data.content%></p>
<%- include("./partials/footer.ejs") -%> 