<%- include("./partials/header.ejs") %> 
<div class="projects-container">
  <h1>My Projects</h1>
  <div class="row">
    <% projects.forEach((project) => { %>
        <div class="card col-lg-4 col-sm-6">
            <img
              src="/images/projectHeaders/<%=project.imageName%>" 
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title"><%=project.title%></h5>
              <button class="btn btn-primary js-primary"><a href="/projects/<%=project._id%>">Read</a></button>
            </div>
          </div>
    <% }); %> 
  </div>
</div>

<%- include("./partials/footer.ejs") %> 