<%- include("./partials/header.ejs") %>
<div class="projects-container">
  <h1>My Projects</h1>
  <div class="row">
    <% projects.forEach((project) => { %>
    <div class="card col-lg-6 col-sm-6">
      <img
        src="/images/projectHeaders/<%=project.imageName%>"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title"><%=project.title%></h5>
        <button
          onclick="location.href='/projects/<%=project._id%>'"
          class="btn js-primary project-btn"
        >
          Read
        </button>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
