<%- include("./partials/header.ejs") %> 

<% project.forEach((project) => { %>
    <div class="card col-lg-4 col-sm-6">
        <img
          src="data:image/<%=project.img.contentType%>;base64,
          <%=project.img.data.toString('base64')%>"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title"><%=project.title%></h5>
        </div>
      </div>
<% }); %> 

<%- include("./partials/footer.ejs") %> 